.Fundo {
    background-color: beige;
}


.h2 {
    text-align: center;
    color: rgb(71, 12, 12);
    font-size: 70%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.frase {
    text-align: center;
    margin-top: 20%;
    align-content: center;
}

